.result {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
    font-family: 'Yuto';
    font-weight: 600;
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    background-color: lightgray;
}
.character {
    display: none;
}

.you {
    color: #1F2932;
    padding: 30px;
    font-size: 25px;
}

.user_type{
    font-size: 18px;
}

.type{
    color: #1F2932;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
}

.effect{
    color: #1F2932;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    padding-top: 30px;
}

@font-face {
    font-family: 'Yuto';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }